*{
	margin: 0;
	padding: 0;
}

.wrapper{
	overflow: hidden;
	width: 80%;
	margin: 0 auto;
}

.topbar{
	background-color: #121B2A;
	
}

.logo{
	float: left;
	width: 20%;
	padding: 7px 12px;
}

.logo img{
	width: 100%;
}

.menu{
	float: right;
	width: 65%;
	margin-top: 36px;
}

.menu ul {
	float: right;
	
}

.menu ul li{
	list-style: none;
	float: left;
}

.menu ul li a{
	padding: 0 10px;
	font-family: sans-serif; 
	font-size: 16px;
	color: white;
	text-decoration: none;
	display: inline-block;
	
}

.menu ul li:last-child a{
	padding-right: 2px;
}

.menu ul li a:hover{
	color: #0C395A;
	transition: 0.3s;

}

.upper_button{
	float: right;
	font-size: 0;

}

.upper_button button{
	padding: 10px;
	border: none ;


}

.banner{
	background-image: url(Banner.jpeg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.b_content{
	width: 45%;
	margin: 130px 28px;
}

.b_content h3{
	font-family: sans-serif;
	font-size: 25px;
	font-weight: 100px;
	color: #8C9098;
	

}

.b_content h2{
	font-family: sans-serif;
	font-size: 35px;
	color: #0071B2;
	margin: 12px 0 10px;


}

.b_content p{
	font-family: sans-serif;
	color: white;
	font-size: 15px;
	margin: 0 0 15px;
	line-height: 2;
}
.b_content button {
	
	font-family: sans-serif;
	font-size: 15px;
	background-color: #F5F5F5;
	color: #858585;
	border: none;
	padding: 8px 15px;
	border-radius: 5px;
	text-transform: capitalize;
	float: left;

}

.b_content button i{
	margin:  8px;
}

.banner_1{
	background-color: #121B2C;
	padding-left: 30px;
	

}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.effect:hover{
  box-shadow: 1px 1px #040811;
  border: none;
  margin: 3px 2px;
  transition: 0.5s;
}



.column {
 	float: left;
	width: 30%;
	padding-right: 32px;
	margin: 40px 0 40px 0;
  }

.column p{
	color: white;
	padding-top: 10px;
	text-align: justify-all;}

.banner_2{
	background-color: #040811;
	

}

.column address{
	padding-left: 30px;
	line-height: 2;
	color: #3E4249;
}
.column h4{
	padding-left: 30px;
	color: #3E4249;}


.head h4{
	padding: 0 0 0 0;
	
}

.head p{
	color: #3E4249;
}

.foot{
	background-color: #121B2C;
}

.foot1{
	padding: 30px 0 30px 30px;
	color: white;
	float: left;
}



 .foot2{
 	padding: 28px 0 18px 0;
	float: right;
	
}
